{
  "extends": "eslint:recommended",
  "rules": {
    "arrow-parens": [2, "as-needed"],
    "no-console": 0,
    "no-const-assign": 2,
    "no-sparse-arrays": 0,
    "no-unneeded-ternary": 2,
    "prefer-const": 2,
    "semi": [2, "never"],
    "indent": ["error", 2],
    "quotes": ["error", "single"],
    "no-multiple-empty-lines": ["error", {"max": 1}]
  },
  "env": {
    "browser": true,
    "mocha": true,
    "jquery": true,
    "node": true,
    "es6": false
  },
  "globals": {
    "expect": true,
    "define": true,
    "requirejs": true
  }
}
