@import "compass/css3/images";
.continuousCalendarContainer.rounded {
  .continuousCalendar {
    .tinyscrollbar { width: 285px;
      .viewport { width: 272px; }
    }
    th,
    td { padding: 0; margin: 0; vertical-align: middle; }
    table.calendarHeader { font-size: 14px; border: none; width: 274px;
      thead th { $from: #787878; $to: #3C3C3C; color: #FFF; border: none; background: #787878; @include background-image(linear-gradient($from, $to)); @include filter-gradient($from, $to);
        &.weekDay { padding: 4px;
          &:last-of-type { -moz-border-radius-topright: 4px; border-top-right-radius: 4px; padding-right: 10px; }
        }
        &:nth-of-type(3) { padding-left: 10px; -moz-border-radius-topleft: 4px; border-top-left-radius: 4px; }
      }
      .month { -moz-border-radius-topleft: 4px; border-top-left-radius: 4px; width: 57px; text-align: right; }
      .week { border-right: 1px solid #E7F2F7; -moz-border-radius-topright: 4px; border-top-right-radius: 4px; }

    }
    .calendarScrollContent { height: 120px; width: 288px; overflow-x: hidden;
      table.calendarBody { color: #000; border: none; width: 274px;
        .date {
          &:first-of-type { padding-left: 10px; }
          &:last-of-type { padding-right: 10px; }
        }
        th.month { width: 53px; color: #3B3B3B; padding-left: 3px; }
        th.week { color: #6E6E6E; }
        td { padding: 1px 5px 1px 5px;
          &.today div { border: 1px solid #F67F00; border-radius: 0; }
          &.disabled { color: #999; }
          &.odd { background: #E7E7E7; }
          &.selected { background: #0161AC; }
        }
      }
    }
  }
}
