.continuousCalendarContainer.transparent { font: 12px Arial, Helvetica;
  .label { }
  .continuousCalendar {
    .tinyscrollbar { width: 251px;
      .viewport { width: 240px; }
    }
    table.calendarHeader { border: none; width: 240px; background: none;
      th { color: #4B4B4B; font-weight: bold; border: none; background: none; }
    }
    .calendarScrollContent { border: none; background: none; width: 255px;
      table.calendarBody { width: 240px; background: none;
        td.odd,
        td.odd.disabled:hover { background: #f6fbff; }
        td { color: #009ee0; background: #ffffff;
          &.today div { border-radius: 0; border: 2px solid #E5312A; }
          &.disabled { color: #cccccc;
            &:hover { background: #ffffff; }
          }
          &:hover { font-weight: normal; background: #e6e6e6; }
          &.selected { background: #009EE0; color: #ffffff; }
        }
        th { color: #4B4B4B; font-size: 11px; border: none; background: none;
          &.odd { background: none; }
        }
      }
    }
  }
}
